# Ignore node_modules and build outputs
node_modules
.next
out
dist

# Ignore environment variables and dependencies
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore editor files
.vscode
.idea
.DS_Store

# Ignore logs and temporary files
*.log
.npm
*.cache

# Ignore generated types
**/*.d.ts
